body{
    margin: 0;
    padding: 0;
    font-family: Simplicity;
    min-height: 100vh;
    background: rgb(61, 51, 51);
}

.container h2{
    width: 100%;
    text-align: center;
    color: #dedede;
}

.container1{
    text-align: center;
}
a {
    color: #dedede;
    text-decoration: none;
}
a:hover, a:focus{
    color: #dedede;
    text-decoration: underline;
}

.containerimg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

