* {
	box-sizing: border-box;
}

body {
	font-family: "Helvetica","sans-serif";
}

// Source mixin

h1, h2, h3, h4, h5, h6 {
	font-family: Simplicity, "sans-serif";
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

.navbar{
	position: fixed;
}

.fas {
	font-weight: 600;
	font-size: 25px;
}

.navbar-toggler {
	padding-right: 10px;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
	border-color: rgb(255,102,203);
}

.sticky-top{
	width: 100%;
}

.modal-content{
	border-radius: 0px;
}

.modal-header{
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-body{
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-footer{
	display: flex;
	align-items: center;
	justify-content: center;
}

#btn1{
	border-color: #0b2e13;
	border-radius: 10px;
}
#btn2{
	border-radius: 10px;
	padding-right: 30px;
	padding-left: 30px;
}
#btn3{
	border-color: #0b2e13;
	border-radius: 10px;
	padding-right: 30px;
	padding-left: 30px;
}
#btn4{
	border-radius: 10px;
}

#link{
	margin-left: 1vh;
	margin-right: 1vh;
}

.SBwrapper, .LBWrapper, .PSWrapper, .BeaWrapper{
	display: flex;
	flex-direction: column;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-position: left;

}
.SBwrapper{
	background-image: url("../img/DeskLGtxt.png");
}
.LBWrapper{
	background-image: url("../img/DeskDGtxt.png");
}
.PSWrapper{
	background-image: url("../img/DeskBluetxt.png");
}

.BeaWrapper{
	background-image: url("../img/DeskBrowntxt.png");
}

@media (max-width: 810px){
	.SBwrapper{
		background-image: url("../img/mobile_lightgreen.png");
	}
	.LBWrapper{
		background-image: url("../img/mobile_darkgreen.png");
	}
	.PSWrapper{
		background-image: url("../img/mobile_blue.png");
	}

	.BeaWrapper{
		background-image: url("../img/mobile_brown.png");
	}
}

@media (max-width: 1235px){
	.SBwrapper{
		background-image: url("../img/middleLG.png");
	}
	.LBWrapper{
		background-image: url("../img/middleDG.png");
	}
	.PSWrapper{
		background-image: url("../img/middleBlue.png");
	}

	.BeaWrapper{
		background-image: url("../img/middleBrown.png");
	}
}

.imgWrap{
	max-height: 500px;
}

.imgWrap{
	width: 100%;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	margin: auto;
}

#mere {display: none;}


img {
	display: flex;
	max-width: 100%;
	height: auto;
}

#box {
	height: 50vh;
	width: 100vw;
}

.kasse {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50vh;

}

.laesmindre {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50vh;
}

h2 {
	padding: 10px;
	background: rgba(0, 0, 0, 0.32);
	border-radius: 16px;
}
.kasBes{
	margin-top: 70px;
}

.some{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20vh;

}
.list{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 10vh;

}
.sam{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 5vh;

}


.cookie{
	max-width: 210px;
	font-size: 13px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1030;
	margin-left: 30px;
	margin-bottom: 20px;
}

.cknap{
	border-radius: 10px;
	border: none;
	margin:5px;
}

.cookie-text{
	padding-top: 5px;
	padding-bottom: 5px;
}


.pF{
	color: #f8f8f8;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 15px;
}

.m-5 {
	margin:50px !important;
}
.prod{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.userBod {
	color: #f8f8f8;
	background-image: linear-gradient(to bottom right, #63754C, #A8C288);
}

.error {
	background: #F2DEDE;
	color: #A94442;
	padding: 10px;
	width: 95%;
	border-radius: 5px;
}


.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}
.hr-or {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

#kas5{
	height: 50vh !important;
	background-color: #63764D;
}

.fab {
	color: #f8f8f8;
	margin-right: 5vh;
	margin-left: 5vh;
	border-style: solid;
	border-radius: 25px;
	border-width: 1px;
	font-size: 20px;
}

.fa-facebook{
	padding: 10px;

}

.fa-instagram {
	padding-left: 11px;
	padding-right: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.fa-linkedin-in{
	padding-left: 11px;
	padding-right: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.fa-youtube{
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.fa-user{
	float: right;
	display: flex;
	justify-content: right;
}


body {
	padding: 0;
	margin: 0;
}
#action-menu {
	position: relative;
	cursor: pointer;
}
#sub-menu {
	padding-left: 2rem;
	overflow: hidden;
	height: 0px;
	background-color: #A8C288;
}


.payment{
	max-width: 500px;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;

	display: flex;
	align-items: center;
}

.betal{
	margin-top: 20px;
}
.form-control{
	border-radius: 10px;
	border-color: rgba(99, 117, 76, 0.3);
}
.btn{
	border-radius: 10px;
	width: 150px;
	margin: 10px;
}

#ok{
	margin-left: 20px;
}

.slideOpen {
	animation: slideOpen 1s forwards;
}

.slideShut{
	animation: slideShut 1s forwards;
}

.header\.billede{
	margin-top: 85px;
}


@keyframes slideOpen {
	0% { height: 0px; }
	100% { height: 200px; }
}
@keyframes slideShut {
	0% { height: 200px; }
	100% { height: 0px; }
}

@media screen and (min-width:550px) {

	.imgWrap{
		//flex-direction:row;
	}
	.btnWrapper{
		display: flex;
		flex-direction: column;
	}

	.slideOpen {
		100% {height: 200px}
	}
	.slideShut{
		0% {height: 200px}
	}

}

@media (max-width:357px){

	.logobig {
		display: none;
	}
	.imgStorBox2 {
		display: none;
	}

}

@media (min-width: 357px){

	.logosmall {
		display: none;}

	.imgStorBox{
		display:none ;
	}

}