* {
	box-sizing: border-box;
}

body {
}

// Source mixin

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

.navbar{
	position: fixed;
}


img {
	display: block;
	max-width: 100%;
	height: auto;
}

#box {
	height: 50vh;
	width: 100vw;
}

.kasse {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50vh;

}

h2 {
	padding: 10px;
	background: rgba(0, 0, 0, 0.32);
	border-radius: 16px;
}

.kasse1 {
	background-color: #A8C288;
}

.kasse2{
	background-color: #63754C;

}

.kasse3 {
	background-color: #333847;
}

.kasse4 {
	background-color: #735f5a;
}

.bund{
	width: 100%;
	height: 50vh;
	background-color: white;
}
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50vh;
	background-color: black;
}

.m-5 {
	margin:50px !important;
}

.userBod {
	color: #f8f8f8;
	background-image: linear-gradient(to bottom right, #63754C, #A8C288);
}

.error {
	background: #F2DEDE;
	color: #A94442;
	padding: 10px;
	width: 95%;
	border-radius: 5px;
}


.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}
.hr-or {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.fab {
	color: #f8f8f8;
	margin-right: 5vh;
	margin-left: 5vh;
	border-style: solid;
	border-radius: 25px;
	border-width: 1px;
	font-size: 20px;
}

.fa-facebook{
	padding: 10px;

}

.fa-instagram {
	padding-left: 11px;
	padding-right: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.fa-linkedin-in{
	padding-left: 11px;
	padding-right: 11px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.fa-youtube{
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 10px;
	padding-bottom: 10px;
}
